.contact-section {
  position: relative !important;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: white !important;
}
